.container {
  ...
  position: relative;
}

.center_screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_screen{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}